version: '3.8'

services:
  app:
    container_name: diminumero-prod
    build:
      context: .
      args:
        MODE: production
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
    env_file:
      - .env
    restart: unless-stopped
